.title {
  font-size:25px;
  color:blue;
  padding-left:65px;
}
#result {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    background-color: hsl(0, 0%, 92%);
    height: 30px;
    margin-bottom: 12px;
    color:deepskyblue;
  }
  .operation input{
    box-sizing: border-box;
    width: 75%;
    height: 3.5rem;
    font-size: 1.6rem;
    padding: 0 0.75rem;
  }
  .operation input{
    font-size: 18px;
    width: 40px;
    height: 40px;
    color: rgb(14, 225, 31);
    border-color: rgb(6, 30, 209);
  }
  .operation input:hover{
    background-color: rgb(242, 178, 178);
  }